* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, #7987ff, #2a36d8, #787aff);
}

.form-container {
  width: 600px;
  height: 490px;
  background: #fff;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.FormProvider {
  width: 600px;
  height: 490px;
  padding: 60px 40px 80px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.form-logo {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  position: absolute;
  top: -70px;
  left: calc(50% - 50px);
}

.FormProvider h5 {
  margin: 0 0 10px;
  padding: 0 0 0;
  text-align: center;
  font-size: 25px;
}

.txtfield {
  display: inline-block;
  width: 49%;
  border-bottom: 2px solid #adadad;
  position: relative;
  margin: 25px auto 5px;
}

.txtfield input {
  font-size: 15px;
  color: #333;
  border: none;
  width: 100%;
  outline: none;
  background: none;
  padding: 0 7px;
  height: 40px;
}

.txtfield span::before {
  content: attr(data-placeholder);
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  transition: .5s;
}

.txtb span::after{
  content: '';
  transition: .5s;
}

.focus + span::before{
  top: -5px;
}
.focus + span::after{
  width: 100%;
}

.address .txtfield{
  width: 100%
}

.aditional, .botones {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones {
  margin-top: 45px;
}

a {
  margin: auto;
  position: relative;
  display: inline-block;
  padding: 20px 25px;
  color: #03e9f4;
  font-size: 22.5px;
  font-weight: 800;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 2px;
}

a:nth-child(1) {
  filter: hue-rotate(290deg);
}

a:nth-child(3) {
  filter: hue-rotate(110deg);
}

a:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}

a span {
  position: absolute;
  display: block;
}

a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#03e9f4);
  animation: animate1 1s linear infinite;
}

@keyframes animate1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#03e9f4);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#03e9f4);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#03e9f4);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}